.header .navbar {
    margin-bottom: 0;
    border-radius: 0;
}

/* Pagination
 *---------------------------------------------*/

.pagination {
    border: 2px solid #1abc9c;
    background: transparent;
    margin: 0 auto;
}

.pagination > li {
    cursor: pointer;
}

.pagination-wrap {
    text-align: center;
}

.pagination > li a {
    color: #222;
    border: none;
}

.pagination li.disabled > a,
.pagination li.disabled > span {
    color: #888;
}

/* Tables
 *---------------------------------------------*/

.table-head-center th {
    vertical-align: middle !important;
    text-align: center;
}

/* Content
 *---------------------------------------------*/

.content-wrapper {
    padding: 1rem 0;
}

/* Forms
 *---------------------------------------------*/

form {
    margin: 50px 0;
}

form legend {
    border-bottom: 1px solid #eee;
}

.form-clear {
    margin: 0
}

.form-control[disabled] {
    color: #222;
}

.print {
    display: none
}

#modalPreview .modal-dialog {
    max-width: 960px;
    min-width: 600px;
    width: 100%;
}

.pricebox {
    text-align: right;
}

#form-odds-filter .form-group + .form-group,
#form-ozp-filter .form-group + .form-group {
    margin-left: 10px;
}

#form-odds-filter .form-group label,
#form-ozp-filter .form-group label {
    margin-right: 10px;
}


/*
//  Select2
// --------------------------------------------------*/

.select2-search-choice {
    color: #fff;
    background-color: #1abc9c;
}

.select2-search {
    min-height: 48px !important;
}

/*
//  Table
// --------------------------------------------------*/

.label-two-line {
    line-height: 1.2
}

.table-controls {
    text-align: right;
}

.table-controls a + a {
    margin-left: 1.5rem;
}

.pagon-price,
.furn-price,
.arki-price,
.furnityra-price {
    text-align: center;
}

/*
//  Content
// --------------------------------------------------*/

.content header a {
    margin: 15px 0;
}

/*
//  Login screen
// --------------------------------------------------*/

.login-page {
  background: #1abc9c;
}

.login {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    max-width: 300px;
    max-height: 250px;

    padding: 0;
    margin: auto;

    background: none;
}

.list {
    padding: 0;
    margin: 0;
    list-style: none;
}

.list-item {
    padding: 5px 10px;
    font-size: 1.5rem;
    background: #e74c3c;
    border-radius: 5px;
}

.btn-print {
    margin-left: 15px;
}

/* Home
 *---------------------------------------------*/

.page-home {
    background-color: #eee;
}


/* News
 *---------------------------------------------*/

.news-list-item {
    margin-bottom: 20px;
    border: 1px solid #34495e;
    box-shadow: 0 0 .5px
}

.news-list-item-header {
    padding: 15px 0;
    color: #fff;
    background-color: #34495e
}

.news-list-item-header h4,
.news-list-item-header p {
    margin: 0;
}

.news-list-item-body {
    padding: 20px;
}


@media print {
    .table,
    .table th,
    .table td {
        font-size: 20px;
    }
} 
