doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(name='viewport', content='width=device-width,initial-scale=1')
    if title
      title= title
    else
      title Форма заказов MakDoors

    meta(name='description', content=pkg.description)

    block head
      link(href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet")
      link(rel="stylesheet", href="/css/font-awesome.min.css")
      link(rel="stylesheet", href="/css/bootstrap.min.css")
      link(rel="stylesheet", href="/css/flat-ui.min.css")
      link(rel="stylesheet", href="/css/datepicker.min.css")
      link(rel='stylesheet', href='/css/dashboard.css')
      script(src="/js/jquery.min.js")
      script(src="/js/flat-ui.min.js")
      script(src="/js/datepicker.min.js")
      script(src="/js/dashboard.js")
  body
    #page
      header.header
        .navbar.navbar-inverse.navbar-collapse
          .container
            ul.nav.navbar-nav
              li
                a(href="/dashboard") Главная
              li.dropdown
                a(href="", class="dropdown-toggle", data-toggle="dropdown", role="button") Заказы
                    span.caret
                ul.dropdown-menu
                  li
                    a(href="/dashboard/orders") Все заказы
                  li
                    a(href="/dashboard/orders/create") Сделать заказ
              li.dropdown
                a(href="", class="dropdown-toggle", data-toggle="dropdown", role="button") Атрибуты
                    span.caret
                ul.dropdown-menu
                  li
                    a(href="/dashboard/attributes") Атрибуты
                  li
                    a(href="/dashboard/attribute-groups") Группы атрибутов
              li.dropdown
                a(href="", class="dropdown-toggle", data-toggle="dropdown", role="button") Пользователи
                    span.caret
                ul.dropdown-menu
                  li
                    a(href="/dashboard/users") Все пользователи
                  li
                    a(href="/dashboard/users/create") Добавить пользователя
            if (isAuthenticated)
              ul.nav.navbar-nav.navbar-right
                li
                    a(href="/logout") Выйти

      main.content-wrapper.container
        block content
