extends ../layouts/app

block script
    script(src="/js/vendor/tinymce/tinymce.min.js")
    script(src="/js/vendor/tinymce/ru.js")
    script(src="/js/editor.js")

block content
  form(action="/dashboard/news/store", method="POST")
    fieldset
      legend Добавить новость
      p.form-group
        label(for="news-name") Название:
        input(type="text", name="name", placeholder="Название продукта", id="news-name").form-control
      p.form-group
        textarea(name="content", placeholder="Название английский", id="news-content", rows="10").form-control.editor
      p.form-group
        input(type="hidden", name="_csrf", value="#{csrf}")
        input(type="submit", name="submit", value="Сохранить").btn.btn-default.btn-primary
