extends ../layouts/app

block content
  form(action="/dashboard/news/update", method="POST")
    fieldset
      legend Редактировать новость
      p.form-group
        label(for="news-name") Название:
        input(type="text", name="name", placeholder="Название продукта", id="news-name", value="#{ !!news.name.length ? news.name : '' }").form-control
      p.form-group
        textarea(name="content", placeholder="Название английский", id="news-content", class="form-control editor", rows="10")!= !!news.content.length ? news.content : ''
      p.form-group
        input(type="hidden", name="id", value="#{news.id}")
        input(type="hidden", name="_csrf", value="#{csrf}")
        input(type="submit", name="submit", value="Сохранить").btn.btn-default.btn-primary
