extends ../layouts/app

block content
  form(action="/dashboard/users/store", method="POST")
    fieldset
      legend Новый пользователь
      p.form-group
        label(for="user-login") Индентификатор для входа
        input(type="text", name="login", placeholder="индентификатор или почта", id="user-login").form-control
      p.form-group
        label(for="user-name") Имя
        input(type="text", name="name", id="user-name").form-control
      p.form-group
        label(for="user-lastname") Фамилия
        input(type="text", name="lastname", id="user-lastname").form-control
      p.form-group
        label(for="user-telephone") Телефон
        input(type="text", name="telephone", id="user-telephone").form-control
      p.form-group
        label(for="user-group") Группа
        select(name="group", id="user-group").form-control
          option(value="saller") Продавец
          option(value="managers") Менеджер
          option(value="accountant") Бухгалтер
      p.form-group
        label(for="user-deportament") Отдел
        select(name="deportament", id="user-deportament").form-control
          option(value="0") нет
          if (Array.isArray(departaments) && !!departaments.length)
            each deportament, index in departaments
              option(value="#{deportament.id}")= deportament.name
      p.form-group
        input(type="hidden", name="_csrf", value="#{csrf}")
        input(type="submit", name="submit", value="Сохранить").btn.btn-default.btn-primary