extends ../layouts/app

block content
  .container(style="margin-top: 50px;")
    .news-list
      if (Array.isArray(news) && !!news.length)
        each item, index in news
          article.news-list-item
            header.news-list-item-header.text-center
              h4.news-list-item-title= item.name
              p.date= `( ${moment(item.createdAt).locale('ru').format('L')} )`
            section.news-list-item-body!= item.content
