extends ../layouts/app

block content
  form(action="/dashboard/attributes/store", method="POST")
    fieldset
      legend Новый атрибут
      p.form-group
        label(for="attr-name") Название
        input(type="text", name="name", placeholder="Название атрибута", id="attr-name").form-control
      p.form-group
        label(for="attr-group") Группа
        select(name="group", id="attr-group").form-control
          option(value="нет") нет
          if (Array.isArray(attributeGroups) && !!attributeGroups.length)
              each group, index in attributeGroups
                option(value="#{group.name}")= group.name
      p.form-group
        input(type="hidden", name="_csrf", value="#{csrf}")
        input(type="submit", name="submit", value="Сохранить").btn.btn-default.btn-primary