extends ../layouts/app

block content
  form(action="/dashboard/products/store", method="POST")
    fieldset
      legend Редактирование продукта
      p.form-group
        label(for="attr-name") Название:
        input(type="text", name="name", placeholder="Название продукта", id="attr-name").form-control
      p.form-group
        label(for="attr-name") Псевдоним ( анг ):
        input(type="text", name="slug", placeholder="Название английский", id="attr-name").form-control
      p.form-group
        label(for="manufacture-date") Дата изготовления:
        input(type="text", name="manufactureDate", placeholder="00.00.00", id="manufacture-date").form-control.makdoors-datepicker
      p.form-group
        input(type="hidden", name="_csrf", value="#{csrf}")
        input(type="submit", name="submit", value="Сохранить").btn.btn-default.btn-primary