<!DOCTYPE html>
html(lang="en")
head
  meta(charset="UTF-8")
  title Панель управления
  link(rel="stylesheet", href="/css/bootstrap.min.css")
  link(rel="stylesheet", href="/css/flat-ui.min.css")
  link(rel="stylesheet", href="/css/dashboard.css")
body(class="login-page")
  //-- BEGIN JIVOSITE CODE
  script.
    (function(){ var widget_id = 'Z5xSor6q46';var d=document;var w=window;function l(){
    var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = '//code.jivosite.com/script/widget/'+widget_id; var ss = document.getElementsByTagName('script')[0]; ss.parentNode.insertBefore(s, ss);}if(d.readyState=='complete'){l();}else{if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})();</script>
  //-- {/literal} END JIVOSITE CODE -->
  form(action="/login", method="POST").login
    input(type="hidden", name="_csrf", value="#{csrf}")
    .login-form
      p(style="text-align: center; margin: 0 0 10px 0; color: #222;") v1.0.0
      .form-group
        input#login-name.form-control.login-field(type='text', name="login", placeholder='login', required)
        label.login-field-icon.fui-user(for='login-name')
      .form-group
        input#login-pass.form-control.login-field(type='password', name="password" value='', placeholder='Password', required)
        label.login-field-icon.fui-lock(for='login-pass')
      .form-group
        if (errors)
          ul.list.list-error
            each error in errors
              li.list-item= error
      .form-group
        input(type="submit", name="submit", value="Войти").btn.btn-primary.btn-lg.btn-block
