include ../includes/head

  body
    #page
      include ../includes/header
      .container
        .page-header
          block main
        .messages
          include ../includes/messages
        main.content
          block content
      include ../includes/footer
